body
{
	margin: 20px;
}

.container-fluid
{
	margin: 0 auto;
	max-width: 980px;
}

.container
{
	max-width: 980px;
}

.banner
{
	background-color: #ffffff !important;
	box-shadow: 0px 7px 7px 5px #c0c0c0;
	border-top: 2px #c0c0c0 !important;
}

.header
{
	margin-top: 20px;
}

.content
{
	padding: 20px;
	margin-top: 10px;
	background-color: #ffffff !important;
	box-shadow: 0px 7px 7px 5px #c0c0c0;
	border-top: 2px #c0c0c0 !important;
}

.footer
{
	margin-bottom: 20px;
	background-color: #f8f8f8;
	box-shadow: 0px 7px 7px 5px #c0c0c0;
}

.navbar
{
	padding-right: 5px !important;
	padding-left: 5px !important;
	margin-right: auto;
	margin-left: auto;
}

.navbar-brand
{
	height: 70px;
}

.navHeaderCollapse
{
	margin-top: 10px;
}

.collapse
{
	text-align: left !important;
}

.navbar-default
{
	margin-top: 20px;
	background-color: #ffffff !important;
	box-shadow: 0px 7px 7px 5px #c0c0c0;
	border-top: 2px #c0c0c0 !important;
}

.navbar-default .navbar-brand
{
	color: black !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
	color: #000000 !important;
}

.navbar-default .navbar-text
{
	color: black !important;
}

.navbar-default .navbar-nav > li > a
{
	color: black !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: black !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	color: black !important;
	background-color: #c0c0c0 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	color: black !important;
	background-color: #c0c0c0 !important;
}

.navbar-default .navbar-toggle
{
	border-color: #c0c0c0 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: #c0c0c0 !important;
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: black !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
	border-color: black !important;
}

.navbar-default .navbar-link
{
	color: black !important;
}

.navbar-default .navbar-link:hover
{
	color: black !important;
}

.captcha-image
{
	padding-top: 20px;
}

.text-centered
{
	text-align: center;
}

.table tbody > tr > td.table-centered-cell
{
	vertical-align: middle;
}

.table-edit-cell
{
	text-align: right;
}

.table-image-cell
{
	max-height: 50px;
}

.dialogbox
{
	padding-bottom: 20px;
}

.galleryitem ul
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.galleryitem li
{
	margin-bottom: 25px;
	list-style: none;
}

.galleryitem ul li img
{
	cursor: pointer;
}

.modal-body
{
	padding: 5px !important;
}

.modal-content
{
	border-radius: 0;
}

.modal-dialog img
{
	text-align: center;
	margin: 0 auto;
}

.controls
{
	padding-top: 8px;
	width: 50px;
	display: block;
	font-size: 11px;
	font-weight: bold;
}

.next
{
	float: right;
	text-align: right;
}

.modal-dialog
{
	padding-top: 90px;
	max-width: 500px;
}

@media screen and (min-width: 768px)
{
	.modal-dialog
	{
		width: 500px;
		padding-top: 90px;
	}
}

@media screen and (max-width: 1500px)
{
	#ads
	{
		display: none;
	}
}

hr
{
	border: none;
	height: 1px;
	background-color: grey;
}

h1, h2, h3, h4
{
	word-wrap: break-word;
	word-break: break-all;
}

textarea
{
	resize: vertical;
}
