body
{
	background-color: #bec3c6;
	margin: 20px;
}

#header
{
	margin-top: 20px;
}

#content
{
	background-color: #f8f8f8;
	margin-bottom: 20px;
	padding: 20px;
}

#footer
{
	background-color: #f8f8f8;
	margin-bottom: 20px;
	padding: 20px;
}
