{% if not SUCCESS %}
<h1>Anmelden</h1>
<form role="form" method="post" action="/admin/login">
	<div class="form-group">
		<label for="username">{{USERNAMETITLE}}</label>
		<input class="form-control" type="{{USERNAMETYPE}}" name="username" id="username" placeholder="{{USERNAMEDESCRIPTION}}" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="password">Passwort</label>
		<input class="form-control" type="password" name="password" id="password" placeholder="Ihr Passwort" maxlength="50" required>
	</div>
	<div class="form-group dialogbox">
		<button class="btn btn-default pull-right" type="submit">Anmelden</button>
	</div>
</form>
{% else %}
<div class="alert alert-success" role="alert">
	<p>{{SUCCESS}}</p>
	<p>Weiter zur <a href="/admin/adminindex">Administratorenübersicht</a>.</p>
</div>
{% endif %}
