{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="/admin/index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
</div>
{% else %}
<div>
	<h1>{{TITLE}}</h1>
	<h2>Information</h2>
	<p>Welcome to the admin interface! Here you can create user, menus and edit all plugins.</p>
	<h2>System Categories</h2>
	<ul>
		{% for SYSTEMCONTROLLERITEM in SYSTEMCONTROLLERITEMS %}
		<li>
			<a href="/{{SYSTEMCONTROLLERITEM.getName}}/adminindex">{{SYSTEMCONTROLLERITEM.getDisplayName}}</a>
		</li>
		{% endfor %}
	</ul>
	<h2>Module Categories</h2>
	<ul>
		{% for MODULECONTROLLERITEM in MODULECONTROLLERITEMS %}
		{% if MODULECONTROLLERITEM.getName() != "admin" %}
		<li>
			<a href="/{{MODULECONTROLLERITEM.getName}}/adminindex">{{MODULECONTROLLERITEM.getDisplayName}}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<h2>Logout</h2>
	<p>Click <a href="/admin/logout">here</a> to log out the user from the system.</p>
</div>
{% endif %}
