{% if not ERROR %}
<div>
	<h1>{{TITLE}}</h1>
	<h2>Information</h2>
	<p>Welcome to the admin interface! Here you can create user, menus and edit all plugins.</p>
	<h2>Categories</h2>
	<p>The admin interface provides several modules where you can change settings or data:
	<ul>
		<li><a href="index.php?controller=plugin&action=index">Plugins</a></li>
		<li><a href="index.php?controller=menu&action=index">Menus</a></li>
		<li><a href="index.php?controller=user&action=index">Users</a></li>
	</ul>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
</div>
{% endif %}
