{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Zurück zur <a href="/admin/index">Anmeldeseite</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
</div>
{% else %}
<div>
	<h1>{{TITLE}}</h1>
	<h2>Einleitung</h2>
	<p>Sie befinden sich in der Administratorenübersicht. Hier können Sie neue Datensätze erstellen, löschen oder bisherige ändern.</p>
	<h2>Systembereich</h2>
	<ul>
		{% for SYSTEMCONTROLLERITEM in SYSTEMCONTROLLERITEMS %}
		<li><a href="/{{SYSTEMCONTROLLERITEM.getName}}/adminindex">{{SYSTEMCONTROLLERITEM.getDisplayName}}</a></li>
		{% endfor %}
	</ul>
	<h2>Modulbereich</h2>
	<ul>
		{% for MODULECONTROLLERITEM in MODULECONTROLLERITEMS %}
		{% if MODULECONTROLLERITEM.getName() != "admin" %}
		<li><a href="/{{MODULECONTROLLERITEM.getName}}/adminindex">{{MODULECONTROLLERITEM.getDisplayName}}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
	<h2>Abmelden</h2>
	<p>Klicken Sie <a href="/admin/logout">hier</a>, um sich vom Administratoreninterface abzumelden.</p>
</div>
{% endif %}
