{% if ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
</div>
{% else %}
<h1>Contact Us</h1>
<form role="form" method="post" action="/contact/processindex">
	<div class="form-group">
		<label for="email">Email</label>
		<input class="form-control" type="email" name="email" id="email" placeholder="Your email address" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control" type="text" name="name" id="name" placeholder="Your name" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="text">Title</label>
		<input class="form-control" type="text" name="title" id="title" placeholder="Your message title" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="text">Text</label>
		<textarea class="form-control" name="text" id="text" placeholder="Your message text" rows="20" required></textarea>
	</div>
	<button class="btn btn-default" type="submit">Send</button>
</form>
{% endif %}
