{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Zurück zur <a href="/admin/index">Anmeldeseite</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Zurück zur <a href="/admin/adminindex">Administratorenübersicht</a>.</p>
</div>
{% else %}
<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="btn-group pull-right">
				<a href="/contact/edit" class="btn btn-default btn-xs">Kontakt bearbeiten</a>
			</div>
			<h1 class="panel-title">Kontakt</h1>
		</div>
		<div class="panel-body">
			<form role="form" method="post">
				<div class="form-group">
					<label for="smtpserver">SMTP Server</label>
					<input class="form-control" type="text" name="smtpserver" id="smtpserver" placeholder="Ihr SMTP Server" value="{{MAILCONFIGURATION.getSmtpServer}}" disabled>
				</div>
				<div class="form-group">
					<label for="port">SMTP TLS Port</label>
					<input class="form-control" type="number" name="port" id="port" placeholder="Ihr TLS Port des SMTP Servers" value="{{MAILCONFIGURATION.getPort}}" disabled>
				</div>
				<div class="form-group">
					<label for="sender">Absenderadresse</label>
					<input class="form-control" type="email" name="sender" id="sender" placeholder="Ihre Absenderadresse" value="{{MAILCONFIGURATION.getSender}}" disabled>
				</div>
				<div class="form-group">
					<label for="username">Benutzername</label>
					<input class="form-control" type="text" name="username" id="username" placeholder="Ihr Benutzername" value="{{MAILCONFIGURATION.getUsername}}" disabled>
				</div>
			</form>
		</div>
	</div>
	<a href="/admin/adminindex">Zurück zur Administratorenübersicht.</a>
</div>
{% endif %}
