{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Zurück zur <a href="/admin/index">Anmeldeseite</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Zurück zur <a href="/contact/adminindex">Kontaktübersicht</a>.</p>
</div>
{% else %}
<h1>Kontakt bearbeiten</h1>
<form role="form" method="post" action="/contact/processedit">
	<div class="form-group">
		<label for="smtpserver">SMTP Server</label>
		<input class="form-control" type="text" name="smtpserver" id="smtpserver" placeholder="Ihr SMTP Server" value="{{MAILCONFIGURATION.getSmtpServer}}" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="port">SMTP TLS Port</label>
		<input class="form-control" type="number" name="port" id="port" placeholder="Ihr TLS Port des SMTP Servers" value="{{MAILCONFIGURATION.getPort}}" min="1" max="9999" required>
	</div>
	<div class="form-group">
		<label for="sender">Absenderadresse</label>
		<input class="form-control" type="email" name="sender" id="sender" placeholder="Ihre Absenderadresse" value="{{MAILCONFIGURATION.getSender}}" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="username">Benutzername</label>
		<input class="form-control" type="text" name="username" id="username" placeholder="Ihr Benutzername" value="{{MAILCONFIGURATION.getUsername}}" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="password">Passwort</label>
		<input class="form-control" type="password" name="password" id="password" placeholder="Ihr Passwort" maxlength="50" required>
	</div>
	<div class="form-group dialogbox">
		<a class="btn btn-default pull-left" href="/contact/adminindex">Abbrechen</a>
		<button class="btn btn-default pull-right" type="submit">Speichern</button>
	</div>
</form>
{% endif %}
