{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Zurück zur <a href="/admin/index">Anmeldeseite</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Zurück zur <a href="/gallery/adminindex">Galleryübersicht</a>.</p>
</div>
{% else %}
<h1>Bild hochladen</h1>
<form role="form" method="post" action="/gallery/processcreate" enctype="multipart/form-data">
	<div class="form-group">
		<p>Bitte wählen Sie ein Bild oder Video aus. <b>Hinweis:</b> Laden Sie nur Bilder mit der gleichen oder ähnlichen Auflösung hoch, da es sonst zu Darstellungsfehlern kommen kann.</p>
	</div>
	<div class="form-group">
		<label for="fileupload">Dateiauswahl</label>
		<input type="file" name="fileupload" id="fileupload" accept="image/png, image/jpeg, image/pjpeg, image/jpeg, image/pjpeg, image/gif" required>
	</div>
	<div class="form-group">
		<label for="title">Titel (Max. 15 Zeichen)</label>
		<input class="form-control" type="text" name="title" id="title" placeholder="Ihr Titel" maxlength="15" required>
	</div>
	<div class="form-group dialogbox">
		<a class="btn btn-default pull-left" href="/gallery/adminindex">Abbrechen</a>
		<button class="btn btn-default pull-right" type="submit">Hochladen</button>
	</div>
</form>
{% endif %}
