{% if ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
</div>
{% else %}
<h1>Gallery</h1>
{% if IMAGES|length > 0 %}
<ul class="row galleryitem">
	{% for IMAGE in IMAGES %}
	<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 galleryitem">
		<img class="img-responsive" src="public/data/{{IMAGE.getFileName}}" alt="Image missing">
		<p class="text-centered">{{IMAGE.getTitle}}</p>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>At the moment, no images have been added to the gallery.</p>
{% endif %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body"></div>
		</div>
	</div>
</div>
{% endif %}
