{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="/admin/index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Go back to the <a href="/gallery/adminindex">gallery admin site</a>.</p>
</div>
{% else %}
<h1>Upload Image</h1>
<form role="form" method="post" action="/gallery/processcreate" enctype="multipart/form-data">
	<div class="form-group">
		<p>Please select an image and press upload.</p>
	</div>
	<div class="form-group">
		<label for="fileupload">Select an image</label>
		<input type="file" name="fileupload" id="fileupload" accept="image/png, image/jpeg, image/pjpeg, image/jpeg, image/pjpeg, image/gif, video/mp4"  required>
	</div>
	<div class="form-group">
		<label for="title">Title (Max. 15 Characters)</label>
		<input class="form-control" type="text" name="title" id="title" placeholder="Your image title" maxlength="15" required>
	</div>
	<div class="form-group dialogbox">
		<a class="btn btn-default pull-left" href="/gallery/adminindex">Cancel</a>
		<button class="btn btn-default pull-right" type="submit">Upload</button>
	</div>
</form>
{% endif %}
