{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="/admin/index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Go back to the <a href="/admin/adminindex">admin site</a>.</p>
</div>
{% else %}
<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="btn-group pull-right">
				<a href="/menu/create" class="btn btn-default btn-xs">Create Menu</a>
			</div>
			<h1 class="panel-title">Menus</h1>
		</div>
		<div class="panel-body">
			{% if MENUS|length > 0 %}
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Parent ID</th>
							<th>Displayable Name</th>
							<th>Link</th>
							<th class="table-edit-cell">Edit</th>
						</tr>
					</thead>
					<tbody>
						{% for MENU in MENUS %}
						<tr>
							<td>{{MENU.getID}}</td>
							{% if MENU.getParentMenu %}
							<td>{{MENU.getParentMenu.getID}}</td>
							{% else %}
							<td>-</td>
							{% endif %}
							<td>{{MENU.getDisplayName}}</td>
							<td>{{MENU.getLink}}</td>
							<td class="table-edit-cell">
								<a href="/menu/edit/{{MENU.getId}}"><span class="glyphicon glyphicon-pencil"></span></a>
								<a href="/menu/delete/{{MENU.getId}}" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<p>At the moment, no menus have been added to the system.</p>
			{% endif %}
		</div>
	</div>
	<a href="/admin/adminindex">Back to the admin site.</a>
</div>
{% endif %}
