{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="/admin/index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Go back to the <a href="/news/adminindex">news admin site</a>.</p>
</div>
{% else %}
<form role="form" method="post" action="/news/processdelete/{{ID}}">
	<div class="form-group">
		<label>Attention</label>
		<p>Do you really want to delete this news? If not, press the cancel button.</p>
	</div>
	<div class="form-group dialogbox">
		<a class="btn btn-default pull-left" href="/news/adminindex">Cancel</a>
		<button class="btn btn-default pull-right" type="submit">Delete</button>
	</div>
</form>
{% endif %}
