{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Zurück zur <a href="/admin/index">Anmeldeseite</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Zurück zur <a href="/admin/adminindex">Administratorenübersicht</a>.</p>
</div>
{% else %}
<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Plugins</h1>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Systemname</th>
							<th>Name</th>
							<th>Beschreibung</th>
						</tr>
					</thead>
					<tbody>
						{% for PLUGIN in PLUGINS %}
						<tr>
							<td>{{PLUGIN.getName}}</td>
							<td>{{PLUGIN.getDisplayName}}</td>
							<td>{{PLUGIN.getDescription}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a href="/admin/adminindex">Zurück zur Administratorenübersicht.</a>
</div>
{% endif %}
