{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Zurück zur <a href="/admin/index">Anmeldeseite</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Zurück zur <a href="/menu/adminindex">Menüübersicht</a>.</p>
</div>
{% else %}
<form role="form" method="post" action="/resource/processdelete/{{ID}}">
	<div class="form-group">
		<h1>Achtung</h1>
		<p>Möchten Sie diese Ressource wirklich löschen? Falls nicht, klicken Sie auf 'Abbrechen'.</p>
	</div>
	<div class="form-group dialogbox">
		<a class="btn btn-default pull-left" href="/resource/adminindex">Abbrechen</a>
		<button class="btn btn-default pull-right" type="submit">Löschen</button>
	</div>
</form>
{% endif %}
