{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="index.php?controller=admin&action=index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Go back to the <a href="index.php?controller=resource&action=adminindex">resource admin site</a>.</p>
</div>
{% else %}
<h1>Upload Resource</h1>
<form role="form" method="post" action="index.php?controller=resource&action=processcreate" enctype="multipart/form-data">
	<div class="form-group">
		<p>Please select an resource and press upload.</p>
	</div>
	<div class="form-group">
		<label for="fileupload">Select an resource</label>
		<input type="file" name="fileupload" id="fileupload" accept="text/plain, application/pdf, image/png, image/jpeg, image/pjpeg, image/jpeg, image/pjpeg, image/gif, video/mp4" required>
	</div>
	<button class="btn btn-default" type="submit">Upload</button>
</form>
{% endif %}
