{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="/admin/index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Go back to the <a href="/text/adminindex">text admin site</a>.</p>
</div>
{% else %}
<h1>Create Text</h1>
<form role="form" method="post" action="/text/processcreate">
	<div class="form-group">
		<label for="title">Title</label>
		<input class="form-control" type="text" name="title" id="title" placeholder="Your title" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="text">Text</label>
		<textarea class="form-control" name="text" id="text" placeholder="Your text" rows="20" required></textarea>
	</div>
	<button class="btn btn-default" type="submit">Create</button>
</form>
{% endif %}
