{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="/admin/index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Go back to the <a href="/user/adminindex">user admin site</a>.</p>
</div>
{% else %}
<h1>Create User</h1>
<form role="form" method="post" action="/user/processcreate">
	<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control" type="text" name="name" id="name" placeholder="User name" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input class="form-control" type="email" name="email" id="email" placeholder="User email" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="passworda">Password</label>
		<input class="form-control" type="password" name="passworda" id="passworda" placeholder="User password" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="passwordb">Repeat Password</label>
		<input class="form-control" type="password" name="passwordb" id="passwordb" placeholder="Repeated user password" maxlength="50" required>
	</div>
	<div class="form-group dialogbox">
		<a class="btn btn-default pull-left" href="/user/adminindex">Cancel</a>
		<button class="btn btn-default pull-right" type="submit">Create</button>
	</div>
</form>
{% endif %}
