{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Go back to the <a href="/admin/index">login site</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Go back to the <a href="/user/adminindex">user admin site</a>.</p>
</div>
{% else %}
<h1>Create User</h1>
<form role="form" method="post" action="/user/processedit/{{ID}}">
	<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control" type="text" name="name" id="name" placeholder="User name" value="{{NAME}}" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input class="form-control" type="email" name="email" id="email" placeholder="User email" value="{{EMAIL}}" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="passworda">Password</label>
		<input class="form-control" type="password" name="passworda" id="passworda" placeholder="User password" value="{{PASSWORDA}}" maxlength="50" required>
	</div>
	<div class="form-group">
		<label for="passwordb">Repeat Password</label>
		<input class="form-control" type="password" name="passwordb" id="passwordb" placeholder="Repeated user password" value="{{PASSWORDB}}" maxlength="50" required>
	</div>
	<button class="btn btn-default" type="submit">Create</button>
</form>
<a href="/user/adminindex">Back to the user admin site.</a>
{% endif %}
