{% if ADMINERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ADMINERROR}}</p>
	<p>Zurück zur <a href="/admin/index">Anmeldeseite</a>.</p>
</div>
{% elseif ERROR %}
<div class="alert alert-danger" role="alert">
	<p>{{ERROR}}</p>
	<p>Zurück zur <a href="/admin/adminindex">Administratorenübersicht</a>.</p>
</div>
{% else %}
<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="btn-group pull-right"><a href="/user/create" class="btn btn-default btn-xs">Benutzer erstellen</a></div>
			<h1 class="panel-title">Benutzer</h1>
		</div>
		<div class="panel-body">
			{% if USERS|length > 0 %}
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Benutzername</th>
							<th>Emailadresse</th>
							<th class="table-edit-cell">Bearbeiten</th>
						</tr>
					</thead>
					<tbody>
						{% for USER in USERS %}
						<tr>
							<td>{{USER.getID}}</td>
							<td>{{USER.getName}}</td>
							<td>{{USER.getEmail}}</td>
							<td class="table-edit-cell">
								<a href="/user/edit/{{USER.getId}}"><span class="glyphicon glyphicon-pencil"></span></a>
								<a href="/user/delete/{{USER.getId}}" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<p>Im Moment sind keine Benutzer vorhanden.</p>
			{% endif %}
		</div>
	</div>
	<a href="/admin/adminindex">Zurück zur Administratorenübersicht.</a>
</div>
{% endif %}
